
<div class="panel-log">
  <div class="dark-div"></div>
  <div class="register-login-form">
    <article class="shadow-lg forms">
    <img src="">
    <h2>{{"signin.login" | transloco}}</h2>
    <input required pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$"  class="shadow-lg"  type="email" placeholder='{{"signin.email" | transloco}}' #userName>
    <input required  minlength="6" maxlength="9" class="shadow-lg"  type="password" placeholder='{{"signin.password" | transloco}}' #userPassword>
    <button type="submit" value="Submit" class="ov-btn-grow-ellipse" (click)="authService.SignIn(userName.value, userPassword.value)">{{"signin.login" | transloco}}</button>
    <br>
    <br>
    <a href="#">{{"signin.forgotpassword" | transloco}}</a>
    </article>
    <div class="register-login-box shadow-lg">
    <p>{{"signin.notregistered" | transloco}} <a routerLink="/PLAN">Regístrate</a></p>
    </div>
    </div>
</div>
    

